@{
    ViewData["Title"] = localizer["Products"];
    ViewData["Caption"] = localizer["Manage Products here"];
}

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/catalog/product/OnGetCreateOrEdit','Create Product')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div   class="card-body table-responsive">
        <table id="productTable1" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Barcode</th>
                    <th>Description</th>
                    <th>Rate</th>
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Delete)).Result.Succeeded
                  || (AuthorizationService.AuthorizeAsync(User, Permissions.Products.Edit)).Result.Succeeded)
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
    </div>
    @section Scripts
    {
        <script src="~/js/site.js"></script>
        <script>
            $(document).ready(function () {
                $("#productTable1").DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "url": "/catalog/product/GetProduct",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "id", "name": "Id", "autoWidth": true },
                        { "data": "name", "name": "Name", "autoWidth": true },
                        { "data": "barcode", "name": "Barcode", "autoWidth": true },
                        { "data": "description", "name": "Description", "autoWidth": true },
                        { "data": "rate", "name": "Rate", "autoWidth": true },
                        {
                            "render": function (data, type, full, meta) {
                                console.log(full.id);
                                return "<a href='#' class='btn btn-danger' onclick='jQueryModalDeleteEx(" + full.id+", this)' >Delete</a>";
                            }
                        }
                    ]
                });

            });

        </script>
    }
