@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["User interests"];
    ViewData["Caption"] = localizer["Manage User interests here"];
}
@using AspNetCoreHero.Boilerplate.Web.Areas.Catalog.Models
@model UserInterestViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Users.Edit)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/catalog/userinterest/GetUserInterestEdit','Edit User interest')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> @localizer["Edit"]
            </a>
        }

    <a id="reload" class="btn btn-primary text-white">
        <i class="fa fas fa-bolt"></i>
                @localizer["Reload"]
    </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#interestTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/catalog/userinterest/LoadAll');
        }
    </script>
}